@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face{
    font-family: 'Gilroy Bold';
    src: local('Gilroy Bold'), url(./fonts/Gilroy-ExtraBold.otf);
}

@font-face{
    font-family: 'Gilroy';
    src: local('Gilroy'), url(./fonts/Gilroy-Light.otf);
}

*{
    font-family: 'gilroy';
}
