@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face{
    font-family: 'Gilroy Bold';
    src: local('Gilroy Bold'), url(./fonts/Gilroy-ExtraBold.otf), format('otf');
}

@font-face{
    font-family: 'Gilroy';
    src: local('Gilroy'), url(./fonts/Gilroy-Regular.ttf), format('ttf');
}
@font-face{
    font-family: 'Gilroy Medium';
    src: local('Gilroy Medium'), url(./fonts/Gilroy-Medium.ttf), format('ttf');
}

*{
    font-family: 'Gilroy', Arial, sans-serif;
}


